<ion-app>
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-item [routerLink]="['/home']">Home</ion-item>
        <ion-item [routerLink]="['/play']">Play</ion-item>
        <ion-item [routerLink]="['/decks']">Decks</ion-item>
        <ion-item routerLink='profile'>Decks</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  

  <div style="position: relative; height: 100%">
  <ion-router-outlet id="main"></ion-router-outlet>
</div>
</ion-app>
